<ion-view title="Currency" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="number" placeholder="0" ng-model='input.fromvalue' ng-keyup='convert()' min=0>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="fromLength">
                        <span class="flag-icon flag-icon-{{flagfromname}} flag-icon-squared"></span>
                        <select ng-model='input.fromname' ng-change='convertAndShow()'>
                            <option ng-repeat='name in names' value="{{name}}">
                                {{name}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
            <button id="length-button2" class="button button-positive  button-block icon ion-android-sync" ng-click='switch()'></button>
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="number" placeholder="0" ng-model='input.tovalue' disabled>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="toLength">
                    <span class="flag-icon flag-icon-{{flagtoname}} flag-icon-squared"></span>
                        <select ng-model='input.toname' ng-change='convertAndShow()'>
                            <option ng-repeat='name in names' value="{{name}}">
                                {{name}}
                            </option>
                        </select>
                    </label>
                </div>
            </div>
        </form>
        <div class="card">
          <div class="item item-text-wrap ">
            <nvd3 options="options" data="data"></nvd3>
          </div>
        </div>
    </ion-content>
</ion-view>