<ion-view title="Currency" id="page2">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="fromCurrency">
                <span class="input-label">Select</span>
                <select>
                    <option>USD</option>
                    <option>HKD</option>
                    <option>RMB</option>
                    <option>AUD</option>
                    <option>JPY</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">from</span>
                <input type="number" placeholder="">
            </label>
            <button id="currency-button1" class="button button-positive  button-block icon ion-android-sync"></button>
            <label class="item item-select" name="toCurrency">
                <span class="input-label">Select</span>
                <select>
                    <option>USD</option>
                    <option>HKD</option>
                    <option>AUD</option>
                    <option>RMB</option>
                    <option>JPY</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">to</span>
                <input type="number" placeholder="">
            </label>
        </form>
        <div style="line-height: 250px; border: 1px solid rgb(238, 238, 238); border-radius: 3px; text-align: center; background-color: rgb(255, 255, 255);">
            <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
        </div>
    </ion-content>
</ion-view>