<ion-view title="Length" id="page3">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="fromLength">
                <span class="input-label">Select</span>
                <select>
                    <option>meter</option>
                    <option>mile</option>
                    <option>inch</option>
                    <option>feet</option>
                    <option>km</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">from</span>
                <input type="number" placeholder="">
            </label>
            <button id="length-button2" class="button button-positive  button-block icon ion-android-sync"></button>
            <label class="item item-select" name="toLength">
                <span class="input-label">Select</span>
                <select>
                    <option>USD</option>
                    <option>HKD</option>
                    <option>AUD</option>
                    <option>RMB</option>
                    <option>JPY</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">to</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h1 id="length-heading1" style="color:#000000;">Heading</h1>
        <div id="length-markdown2" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>