<ion-view title="Temperature" id="page6">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <label class="item item-select" name="fromTemperature">
                <span class="input-label">Select</span>
                <select>
                    <option>CELSIUS EQUALS</option>
                    <option>FAHENHEIT EQUALS</option>
                    <option>KELVIN EQUALS</option>
                    <option>RANKINE EQUALS</option>
                    <option>REAUMUR EQUALS</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">from</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <button id="temperature-button4" class="button button-positive  button-block icon ion-android-sync"></button>
        <form class="list">
            <label class="item item-select" name="toTemperature">
                <span class="input-label">Select</span>
                <select>
                    <option>CELSIUS EQUALS</option>
                    <option>FAHENHEIT EQUALS</option>
                    <option>KELVIN EQUALS</option>
                    <option>RANKINE EQUALS</option>
                    <option>REAUMUR EQUALS</option>
                </select>
            </label>
            <label class="item item-input">
                <span class="input-label">to</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <h1 id="temperature-heading3" style="color:#000000;">Heading</h1>
        <div id="temperature-markdown4" style="color:#000000;">
            <p>Some friendly
                <strong>markdown</strong>
            </p>
        </div>
    </ion-content>
</ion-view>