<ion-view title="Temperature" id="temperature">
    <ion-content padding="true" class="has-header" ng-controller="temperatureCtrl">
        <form class="list" id="temperatureConverter">
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="number" placeholder="0" ng-model='input.fromvalue' ng-keyup='convertAndShow()' min=0>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="fromTemperature">

                        <select ng-model='input.fromname' ng-change='convertAndShow()'>
                            <option ng-repeat='name in names' value="{{name}}">{{name}}</option>
                        </select>
                    </label>
                </div>
            </div>
            <button id="length-button2" class="button button-positive  button-block icon ion-android-sync" ng-click='switch()'></button>
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="number" placeholder="0" ng-model='input.tovalue' disabled>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="toTemperature">
                        <select ng-model='input.toname' ng-change='convert()'>
                            <option ng-repeat='name in names' value="{{name}}">{{name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </form>
        <div class="card">
            <h1 id="temperature-heading3" style="color:#000000;" align="center">{{input.fromname}}</h1>
            <div id="temperature-markdown4" style="color:#000000;">
                <p>
                    {{tip}}
                </p>
            </div>
        </div>
    </ion-content>
</ion-view>