<ion-view title="Weight" id="page4">
    <ion-content padding="true" class="has-header">
        <form class="list">
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="number" placeholder="0" ng-model='input.fromvalue' ng-keyup='convert()' min=0>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="fromWeight">

                        <select ng-model='input.fromname' ng-change='convertAndShow()'>
                            <option ng-repeat='name in names' value="{{name}}">{{name}}</option>

                        </select>
                    </label>
                </div>
                
            </div>
            <button id="weight-button2" class="button button-positive  button-block icon ion-android-sync" ng-click='switch()'></button>
            <div class='row'>
                <div class='col col-50'>
                    <label class="item item-input">
                        <input type="text" placeholder="0" ng-model='input.tovalue' disabled>
                    </label>
                </div>
                <div class='col col-50'>
                    <label class="item item-select" name="toWeight">

                        <select ng-model='input.toname' ng-change='convert()'>
                            <option ng-repeat='name in names' value="{{name}}">{{name}}</option>
                        </select>
                    </label>
                </div>
            </div>
        </form>



        <h1 align='center' id="weight-heading1" style="color:#000000;">{{input.fromname}}</h1>
        <div id="weight-markdown2" style="color:#000000;">
            <p>
            {{tip}}
            </p>
        </div>



        <div class="form-group">
    <label class="control-label">Destination</label>
    <input type="text" name="cdCountry" class="form-control" required />
</div>

<script>
    $("[name='cdCountry']").select2({
        placeholder: "Select a country",
        formatResult: function (country) {
            return $(
              "<span><i class=\"flag flag-" + country.id.toLowerCase() + "\"></i> " + country.text + "</span>"
            );;
        },
        data: yourDataSource
    });
</script>




    </ion-content>
</ion-view>


